<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TC-HRMS Fresh</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="asset/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="asset/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="asset/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="/asset/images/favicon.ico" />
    </head>
    <body>
        <div class="container-scroller">

            <div th:replace="fragments/navbar"></div>
            <!-- partial:partials/_navbar.html -->

            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <div th:replace="fragments/sidebar"></div>
                <!-- partial:partials/_sidebar.html -->

                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title">
                                <span class="page-title-icon bg-gradient-primary text-white me-2">
                                    <i class="mdi mdi-new-box"></i>
                                </span> HR Attempted
                            </h3>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                        <div th:replace="segments/fragments/newApplicationsData"></div>
                        


                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <div th:replace="fragments/footer"></div>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="asset/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="asset/vendors/chart.js/Chart.min.js"></script>
        <script src="asset/js/jquery.cookie.js" type="text/javascript"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="asset/js/off-canvas.js"></script>
        <script src="asset/js/hoverable-collapse.js"></script>
        <script src="asset/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="asset/js/dashboard.js"></script>
        <script src="asset/js/todolist.js"></script>
        <!-- End custom js for this page -->
        <script type="text/javascript">
            function getdetails(id) {
                alert(id);
                window.location = "getapplicantDetails?id=" + id;
//                $.ajax({
//                    url: "getapplicantDetails",
//                    type: 'GET',
//                    data: {"japplID":id},
//                    success: function (data) {
//                        alert(data)
//                    },
//                    error: function (jqXHR, textStatus, errorThrown) {
//                        
//                    }
//                })
            }

          
        </script>
    </body>
</html>