<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TC-HRMS</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="asset/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="asset/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="asset/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="/asset/images/favicon.ico" />
    </head>
    <body>
        <div class="container-scroller">

            <div th:replace="fragments/navbar"></div>
            <!-- partial:partials/_navbar.html -->

            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <div th:replace="fragments/sidebar"></div>
                <!-- partial:partials/_sidebar.html -->

                <!-- partial -->
                <div class="main-panel">

                    <div class="content-wrapper">

                        <div class="page-header">
                            <h3 class="page-title">
                                <span class="page-title-icon bg-gradient-primary text-white me-2">
                                    <i class="mdi mdi-home"></i>
                                </span> View Adds Lead Details
                            </h3>

                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <!--                                    <li class="breadcrumb-item active" aria-current="page">
                                                                            <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                                                        </li>-->
                                </ul>
                            </nav>
                        </div>

                        <div th:replace="segments/fragments/uniqueAddsLeadDetails"></div>



                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <div th:replace="fragments/footer"></div>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="asset/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="asset/vendors/chart.js/Chart.min.js"></script>
        <script src="asset/js/jquery.cookie.js" type="text/javascript"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="asset/js/off-canvas.js"></script>
        <script src="asset/js/hoverable-collapse.js"></script>
        <script src="asset/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="asset/js/dashboard.js"></script>
        <script src="asset/js/todolist.js"></script>
        <!-- End custom js for this page -->
<!--        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: 'getTLList',
                    type: 'GET',
                    success: function (result) {
                        console.log(result);

                        $("#nextRoundTo").html(result);
                    }
                })
            })
        </script>-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function goBack() {
                if (document.referrer !== "") {
                    window.history.back();
                } else {
                    window.location.href = "/dashboard"; // fallback page
                }
            }
            $('#saveAddsLeadFeedbackForm').submit(function (e) {
                e.preventDefault();
//                var formData = $(this).serialize();

                var formData = new FormData(this);
                Swal.fire({
                    title: 'Feedback Updating...',
                    text: 'Please wait',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
                $.ajax({
                    url: 'saveAddsLeadFeedback',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        console.log(result);
                        Swal.fire({
                            icon: 'success',
                            title: 'Done...',
                            text: 'Data Saved Successfully!',
                            confirmButtonText: 'OK',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
//                                setTimeout(() => {
//                                    window.location.href = "metaAddsLeadData?status=New";
//                                }, 500);
                            }
                        })
//                        $("#nextRoundTo").html(result);
                    }
                })
            })
            $('#callStatus').on('change', function () {

                let value = $(this).val(); // ✅ correct way

                let statusDropdown = $('#status');

                // 🔥 clear old options first
                statusDropdown.empty();

                if (value === "Non Contacted") {

                    $('.notContDiv').hide();

                    statusDropdown.append(
                            '<option value="Under followUp">Under followUp</option>'
                            );

                } else {

                    $('.notContDiv').show();

                    statusDropdown.append(`
            <option value="">Select</option>
            <option value="Interested">Interested</option>
            <option value="Not Interested">Not Interested</option>
        `);
                }
            });
             function goToNextFromBtn(btn) {
                let id = btn.getAttribute("data-id");
                let status = btn.getAttribute("data-status");
                Swal.fire({
                    title: 'Loading next lead...',
                    allowOutsideClick: false,
                    didOpen: () => Swal.showLoading()
                });
              window.location.href = "getMetaAddsDeatails?id=" + id + "&status=" + status;
                
            }
        </script>
    </body>
</html>