<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TC-HRMS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="asset/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="asset/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="asset/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/asset/images/favicon.ico" />
  </head>
  <body>
      <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-info">
          <div class="row flex-grow">
            <div class="col-lg-7 mx-auto text-white">
              <div class="row align-items-center d-flex flex-row">

                <div class="col-lg-12 error-page-divider text-lg-left pl-lg-4">
                  <h2>Thanks You! <p style="font-size:100px">&#128522;</p></h2>
                  <h3 class="font-weight-light">Your Response succussfully Saved Our HR Team will Contact You soon!</h3>
                </div>
              </div>
<!--              <div class="row mt-5">
                <div class="col-12 text-center mt-xl-2">
                  <a class="text-white font-weight-medium" href="/">Back to home</a>
                </div>
              </div>-->
              <!--<div th:replace="fragments/footer"></div>-->
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="asset/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="asset/vendors/chart.js/Chart.min.js"></script>
    <!--<script src="asset/js/jquery.cookie.js" type="text/javascript"></script>-->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="asset/js/off-canvas.js"></script>
    <script src="asset/js/hoverable-collapse.js"></script>
    <script src="asset/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="asset/js/dashboard.js"></script>
    <script src="asset/js/todolist.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>